.post {
   width: 32rem;
}

.post-header {
   display: flex;
   gap: 2rem;
}

.avatar {
   width: 45px;
}

.card-text-name {
   font-size: 24px;
   font-weight: 600;
   color: #3b89d5;
}

.card-text-main {
   font-size: 16x;
   font-weight: 400;
}

hr {
   margin: 0;
}

.post-bottom {
   display: flex;
   justify-content: end;
   gap: 1rem;
   padding: 0px 10px;
}
